<div class="row">
	<form id="signetFormSearch">
		<table class="formtable">
			<tr>
				<td><label for="signetname">印章名称:</label></td>
				<td><input type="text" name="signetname" class="easyui-textbox"
					placeholder="印章名称"></td>
				<td>
				<div>
					<a href="#" onclick="searchSignet()" class="easyui-linkbutton"
						data-options="iconCls:'icon-search'">搜索</a>
				</div></td>
			</tr>
		</table>
	</form>
</div>
<div class="row">
	<div id="signetTableToolBar">
		<a href="#" onclick="showSignetDialog()" class="easyui-linkbutton"
			data-options="iconCls:'icon-edit',plain:true">新增</a>
	</div>
	<table id="signetTable">
		<thead>
			<tr>
				<th data-options="field:'id'">ID</th>
				<th data-options="field:'signetname'">印章名称</th>
				<th data-options="field:'createTime',formatter:dateFormatter">创建时间</th>
				<th data-options="field:'updateTime',formatter:dateFormatter">修改时间</th>
				<th data-options="field:'createUserid'">创建人</th>
				<th data-options="field:'updateUserid'">修改人</th>
				<th data-options="field:'status'">状态</th>
				<th data-options="field:'isDeleted'">是否删除</th>
				<th data-options="field:'action',formatter:signetActionFormatter">操作</th>
			</tr>
		</thead>
	</table>
</div>
<div id="signetModal" class="easyui-dialog" title="My Dialog"
	style="padding: 30px;"
	data-options="modal:true,buttons:'#signetDialogButtons',closed:true">
	<div class="dialog-body">
		<form id="signetForm" method="post">
			<table class="formtable">
				<tr>
					<td><label for="id">ID:</label></td>
					<td><input type="text" name="id" class="easyui-textbox"
						editable="false" /></td>
				</tr>
				<tr>
					<td><label for="signetname">印章名称:</label></td>
					<td><input type="text" name="signetname"
						class="easyui-textbox" data-options="validType:['length[0,100]']" />
					</td>
				</tr>
			</table>
			<div id="signetDialogButtons">
				<a href="#" id="btnSaveSignet" data-options="iconCls:'icon-save'"
					onclick="submitSignetForm()" class="easyui-linkbutton">确认</a> <a
					href="#" id="backbtn" onclick="closeSignetDialog()"
					class="easyui-linkbutton" data-options="iconCls:'icon-cancel'">取消</a>
			</div>
		</form>
	</div>
</div>
<script>
	var SIGNET_API_BASE_URL = "${rc.contextPath}/signet/";
	$(function() {
		$('#signetTable').datagrid({
			toolbar:'#signetTableToolBar',
			pagination : true,//显示分页  
			pageSize : 20,//分页大小 
			rownumbers : true, 
			pageList : [ 20, 50, 100 ],
			loader : signetTableLoader,
			onDblClickRow : showSignetDialog
		});
	});

	function signetTableLoader(param, success, error) {
		
		var queryParams = $('#signetFormSearch').serializeJson();
		queryParams.pageIndex = param.page;
		queryParams.pageSize = param.rows;
		$.ajax({
			type : "post",
			url : SIGNET_API_BASE_URL + "query.html",
			data : queryParams,
			dataType : "json",
			success : function(res) {
				var result = {};
				result.total = res.total;
				result.rows =  res.records;
				success(result);
			},
			error : function() {
				error.apply(this, arguments);
			}
		});
	}


	function signetActionFormatter(value,row,index){
		return [
				"<a href='javascript:' onclick='editSignet("+index+")' class=''>编辑</a>",
				"<span> </span>",
				"<a href='javascript:' onclick='deleteSignet("+index+")' class=''>删除</a>"
				].join("");
	}
	
	function editSignet(index) {
		var signetTable = $("#signetTable");
		var rows = signetTable.datagrid("getRows");
		var row = rows[index];
		showSignetDialog(index,row);
	}
	
	function deleteSignet(index) {
		$.messager.confirm('确认', '你确认删除？', function(r) {
			if (r) {
				var signetTable = $("#signetTable");
				var rows = signetTable.datagrid("getRows");
				var row = rows[index];
				$.post(SIGNET_API_BASE_URL + "delete.html", {
					id : row.id
				}, function(res) {
					if(res.status==10000){
						$.messager.alert("成功","删除成功","info");
						signetTable.datagrid("reload");
					}
					else{
						$.messager.alert("失败",res.message,"error");
					}
				});
			}
		});
	}
	
	function searchSignet() {
		$('#signetTable').datagrid("getPager").pagination("select",1);
	}

	function showSignetDialog(rowIndex, rowData) {
		var signetModal = $('#signetModal');
		var signetForm = $('#signetForm');
		if (rowData) {
			signetModal.dialog({
				title : "编辑"
			});
			signetForm.form('load', rowData);
		} else {
			signetModal.dialog({
				title : "新增"
			});
			signetForm.form('clear');
		}
		signetModal.dialog("open");
	}

	function closeSignetDialog() {
		$('#signetModal').dialog("close");
	}

	function submitSignetForm() {
		var signetModal = $('#signetModal');
		var signetTable = $("#signetTable");
		var signetForm = $('#signetForm');
		var isValid = signetForm.form('validate');
        if (!isValid) {
            $.messager.alert("验证失败", "请修正输入项再试", "warning");
            return;
        }
		
        var jsonData = signetForm.serializeJson();
        //数据处理和其他判断
        $.post(SIGNET_API_BASE_URL + "save.html", jsonData,
        function(res) {
            if (res.status == 10000) {
                var title = signetModal.dialog("options").title;
                signetTable.datagrid("reload");
                $.messager.alert("成功", title + "成功", "info");
				closeSignetDialog();
            } else {
                $.messager.alert(title+"失败", res.message, "error");
            }
        });
	}
</script>

