<div class="row">
	<form id="signetApplyFormSearch">
	<table class="formtable">
		<tr>
		<td>
		<label for="id">ID:</label>
	</td>
	<td>
		<input type="text" name="id" class="easyui-textbox" placeholder="ID">
    </td>
				<td>
		<label for="applyreason">申请理由:</label>
	</td>
	<td>
		<input type="text" name="applyreason" class="easyui-textbox" placeholder="申请理由">
    </td>
				<td>
		<label for="signetid">印章:</label>
	</td>
	<td>
		<input type="text" name="signetid" class="easyui-textbox" placeholder="印章">
    </td>
				<td>
		<label for="dgmTime">副总经理审批时间:</label>
	</td>
	<td>
		<input type="text" name="dgmTime" class="easyui-datetimebox" placeholder="副总经理审批时间">
    </td>
	</tr>	<tr>		<td>
		<label for="dgmResult">副总经理审批结果:</label>
	</td>
	<td>
		<input type="text" name="dgmResult" class="easyui-textbox" placeholder="副总经理审批结果">
    </td>
				<td>
		<label for="dgmSuggest">副总经理意见:</label>
	</td>
	<td>
		<input type="text" name="dgmSuggest" class="easyui-textbox" placeholder="副总经理意见">
    </td>
				<td>
		<label for="gmTime">总经理审批时间:</label>
	</td>
	<td>
		<input type="text" name="gmTime" class="easyui-datetimebox" placeholder="总经理审批时间">
    </td>
				<td>
		<label for="gmResult">总经理审批结果:</label>
	</td>
	<td>
		<input type="text" name="gmResult" class="easyui-textbox" placeholder="总经理审批结果">
    </td>
	</tr>	<tr>		<td>
		<label for="gmSuggest">总经理审批意见:</label>
	</td>
	<td>
		<input type="text" name="gmSuggest" class="easyui-textbox" placeholder="总经理审批意见">
    </td>
				<td>
		<label for="createTime">创建时间:</label>
	</td>
	<td>
		<input type="text" name="createTime" class="easyui-datetimebox" placeholder="创建时间">
    </td>
				<td>
		<label for="updateTime">修改时间:</label>
	</td>
	<td>
		<input type="text" name="updateTime" class="easyui-datetimebox" placeholder="修改时间">
    </td>
				<td>
		<label for="createUserid">创建人:</label>
	</td>
	<td>
		<input type="text" name="createUserid" class="easyui-textbox" placeholder="创建人">
    </td>
	</tr>	<tr>		<td>
		<label for="updateUserid">修改人:</label>
	</td>
	<td>
		<input type="text" name="updateUserid" class="easyui-textbox" placeholder="修改人">
    </td>
				<td>
		<label for="status">状态:</label>
	</td>
	<td>
		<input type="text" name="status" class="easyui-textbox" placeholder="状态">
    </td>
				<td>
		<label for="isDeleted">是否删除:</label>
	</td>
	<td>
		<input type="text" name="isDeleted" class="easyui-textbox" placeholder="是否删除">
    </td>
	</tr>			</table>
	<div>
		<a href="#" onclick="searchSignetApply()" class="easyui-linkbutton" data-options="iconCls:'icon-search'">搜索</a>
	</div>
	</form>
</div>
<div class="row">
	<div id="signetApplyTableToolBar">
		<a href="#" onclick="showSignetApplyDialog()" class="easyui-linkbutton" data-options="iconCls:'icon-edit',plain:true">新增</a>
	</div>
	<table id="signetApplyTable">
        <thead>
        <tr>
    		    			<th data-options="field:'id'">ID</th>
			    			<th data-options="field:'applyreason'">申请理由</th>
			    			<th data-options="field:'signetid'">印章</th>
			    			<th data-options="field:'dgmTime',formatter:dateFormatter">副总经理审批时间</th>
			    			<th data-options="field:'dgmResult'">副总经理审批结果</th>
			    			<th data-options="field:'dgmSuggest'">副总经理意见</th>
			    			<th data-options="field:'gmTime',formatter:dateFormatter">总经理审批时间</th>
			    			<th data-options="field:'gmResult'">总经理审批结果</th>
			    			<th data-options="field:'gmSuggest'">总经理审批意见</th>
			    			<th data-options="field:'createTime',formatter:dateFormatter">创建时间</th>
			    			<th data-options="field:'updateTime',formatter:dateFormatter">修改时间</th>
			    			<th data-options="field:'createUserid'">创建人</th>
			    			<th data-options="field:'updateUserid'">修改人</th>
			    			<th data-options="field:'status'">状态</th>
			    			<th data-options="field:'isDeleted'">是否删除</th>
						<th data-options="field:'action',formatter:signetApplyActionFormatter">操作</th>
        </tr>
        </thead>
    </table>
</div>
<div id="signetApplyModal" class="easyui-dialog" title="My Dialog" style="width: 800px; height: 600px;"
	data-options="modal:true,buttons:'#signetApplyDialogButtons',closed:true">
	<div class="dialog-body">
	<form id="signetApplyForm" method="post">
		<table class="formtable">
						<tr>
            	<td>
            		<label for="id">ID:</label>
            	</td>
            	<td>
            		<input type="text" name="id" class="easyui-textbox"    editable="false"  />
                </td>
            </tr>
						<tr>
            	<td>
            		<label for="applyreason">申请理由:</label>
            	</td>
            	<td>
            		<input type="text" name="applyreason" class="easyui-textbox" data-options="validType:['length[0,100]']"    />
                </td>
            </tr>
						<tr>
            	<td>
            		<label for="signetid">印章:</label>
            	</td>
            	<td>
            		<input type="text" name="signetid" class="easyui-numberbox"    />
                </td>
            </tr>
						<tr>
            	<td>
            		<label for="dgmTime">副总经理审批时间:</label>
            	</td>
            	<td>
            		<input type="text" name="dgmTime" class="easyui-datetimebox"    />
                </td>
            </tr>
						<tr>
            	<td>
            		<label for="dgmResult">副总经理审批结果:</label>
            	</td>
            	<td>
            		<input type="text" name="dgmResult" class="easyui-textbox" data-options="validType:['length[0,10]']"    />
                </td>
            </tr>
						<tr>
            	<td>
            		<label for="dgmSuggest">副总经理意见:</label>
            	</td>
            	<td>
            		<input type="text" name="dgmSuggest" class="easyui-textbox" data-options="validType:['length[0,100]']"    />
                </td>
            </tr>
						<tr>
            	<td>
            		<label for="gmTime">总经理审批时间:</label>
            	</td>
            	<td>
            		<input type="text" name="gmTime" class="easyui-datetimebox"    />
                </td>
            </tr>
						<tr>
            	<td>
            		<label for="gmResult">总经理审批结果:</label>
            	</td>
            	<td>
            		<input type="text" name="gmResult" class="easyui-textbox" data-options="validType:['length[0,10]']"    />
                </td>
            </tr>
						<tr>
            	<td>
            		<label for="gmSuggest">总经理审批意见:</label>
            	</td>
            	<td>
            		<input type="text" name="gmSuggest" class="easyui-textbox" data-options="validType:['length[0,100]']"    />
                </td>
            </tr>
						<tr>
            	<td>
            		<label for="createTime">创建时间:</label>
            	</td>
            	<td>
            		<input type="text" name="createTime" class="easyui-textbox"    editable="false"  />
                </td>
            </tr>
						<tr>
            	<td>
            		<label for="updateTime">修改时间:</label>
            	</td>
            	<td>
            		<input type="text" name="updateTime" class="easyui-textbox"    editable="false"  />
                </td>
            </tr>
						<tr>
            	<td>
            		<label for="createUserid">创建人:</label>
            	</td>
            	<td>
            		<input type="text" name="createUserid" class="easyui-textbox"    editable="false"  />
                </td>
            </tr>
						<tr>
            	<td>
            		<label for="updateUserid">修改人:</label>
            	</td>
            	<td>
            		<input type="text" name="updateUserid" class="easyui-textbox"    editable="false"  />
                </td>
            </tr>
						<tr>
            	<td>
            		<label for="status">状态:</label>
            	</td>
            	<td>
            		<input type="text" name="status" class="easyui-textbox"    editable="false"  />
                </td>
            </tr>
						<tr>
            	<td>
            		<label for="isDeleted">是否删除:</label>
            	</td>
            	<td>
            		<input type="text" name="isDeleted" class="easyui-textbox"    editable="false"  />
                </td>
            </tr>
			   		</table>
		<div id="signetApplyDialogButtons">
			<a href="#" id="btnSaveSignetApply" data-options="iconCls:'icon-save'" onclick="submitSignetApplyForm()" class="easyui-linkbutton">确认</a>  
			<a href="#" id="backbtn" onclick="closeSignetApplyDialog()" class="easyui-linkbutton" data-options="iconCls:'icon-cancel'">取消</a>
		</div>
	</form>
	</div>
</div>
<script>
	var SIGNETAPPLY_API_BASE_URL = "${rc.contextPath}/signetApply/";
	$(function() {
		$('#signetApplyTable').datagrid({
			toolbar:'#signetApplyTableToolBar',
			pagination : true,//显示分页  
			pageSize : 20,//分页大小 
			rownumbers : true, 
			pageList : [ 20, 50, 100 ],
			loader : signetApplyTableLoader,
			onDblClickRow : showSignetApplyDialog
		});
	});

	function signetApplyTableLoader(param, success, error) {
		
		var queryParams = $('#signetApplyFormSearch').serializeJson();
		queryParams.pageIndex = param.page;
		queryParams.pageSize = param.rows;
		$.ajax({
			type : "post",
			url : SIGNETAPPLY_API_BASE_URL + "query.html",
			data : queryParams,
			dataType : "json",
			success : function(res) {
				var result = {};
				result.total = res.total;
				result.rows =  res.records;
				success(result);
			},
			error : function() {
				error.apply(this, arguments);
			}
		});
	}


	function signetApplyActionFormatter(value,row,index){
		return [
				"<a href='javascript:' onclick='editSignetApply("+index+")' class=''>编辑</a>",
				"<span> </span>",
				"<a href='javascript:' onclick='deleteSignetApply("+index+")' class=''>删除</a>"
				].join("");
	}
	
	function editSignetApply(index) {
		var signetApplyTable = $("#signetApplyTable");
		var rows = signetApplyTable.datagrid("getRows");
		var row = rows[index];
		showSignetApplyDialog(index,row);
	}
	
	function deleteSignetApply(index) {
		$.messager.confirm('确认', '你确认删除？', function(r) {
			if (r) {
				var signetApplyTable = $("#signetApplyTable");
				var rows = signetApplyTable.datagrid("getRows");
				var row = rows[index];
				$.post(SIGNETAPPLY_API_BASE_URL + "delete.html", {
					id : row.id
				}, function(res) {
					if(res.status==10000){
						$.messager.alert("成功","删除成功","info");
						signetApplyTable.datagrid("reload");
					}
					else{
						$.messager.alert("失败",res.message,"error");
					}
				});
			}
		});
	}
	
	function searchSignetApply() {
		$('#signetApplyTable').datagrid("getPager").pagination("select",1);
	}

	function showSignetApplyDialog(rowIndex, rowData) {
		var signetApplyModal = $('#signetApplyModal');
		var signetApplyForm = $('#signetApplyForm');
		if (rowData) {
			signetApplyModal.dialog({
				title : "编辑应用"
			});
			signetApplyForm.form('load', rowData);
		} else {
			signetApplyModal.dialog({
				title : "新增应用"
			});
			signetApplyForm.form('clear');
		}
		signetApplyModal.dialog("open");
	}

	function closeSignetApplyDialog() {
		$('#signetApplyModal').dialog("close");
	}

	function submitSignetApplyForm() {
		var signetApplyModal = $('#signetApplyModal');
		var signetApplyTable = $("#signetApplyTable");
		var signetApplyForm = $('#signetApplyForm');
		var isValid = signetApplyForm.form('validate');
        if (!isValid) {
            $.messager.alert("验证失败", "请修正输入项再试", "warning");
            return;
        }
		
        var jsonData = signetApplyForm.serializeJson();
        //数据处理和其他判断
        $.post(SIGNETAPPLY_API_BASE_URL + "save.html", jsonData,
        function(res) {
            if (res.status == 10000) {
                var title = signetApplyModal.dialog("options").title;
                signetApplyTable.datagrid("reload");
                $.messager.alert("成功", title + "成功", "info");
				closeSignetApplyDialog();
            } else {
                $.messager.alert(title+"失败", res.message, "error");
            }
        });
	}
</script>

