<div class="row">
	<form id="fileFormSearch">
	<table class="formtable">
		<tr>
		<td>
		<label for="id">ID:</label>
	</td>
	<td>
		<input type="text" name="id" class="easyui-textbox" placeholder="ID">
    </td>
				<td>
		<label for="fileTypeId">档案类型:</label>
	</td>
	<td>
		<input type="text" name="fileTypeId" class="easyui-textbox" placeholder="档案类型">
    </td>
				<td>
		<label for="filename">档案名称:</label>
	</td>
	<td>
		<input type="text" name="filename" class="easyui-textbox" placeholder="档案名称">
    </td>
				<td>
		<label for="filedesc">档案描述:</label>
	</td>
	<td>
		<input type="text" name="filedesc" class="easyui-textbox" placeholder="档案描述">
    </td>
	</tr>	<tr>		<td>
		<label for="attachment">附件 :</label>
	</td>
	<td>
		<input type="text" name="attachment" class="easyui-textbox" placeholder="附件 ">
    </td>
				<td>
		<label for="createTime">创建时间:</label>
	</td>
	<td>
		<input type="text" name="createTime" class="easyui-datetimebox" placeholder="创建时间">
    </td>
				<td>
		<label for="updateTime">修改时间:</label>
	</td>
	<td>
		<input type="text" name="updateTime" class="easyui-datetimebox" placeholder="修改时间">
    </td>
				<td>
		<label for="createUserid">创建人:</label>
	</td>
	<td>
		<input type="text" name="createUserid" class="easyui-textbox" placeholder="创建人">
    </td>
	</tr>	<tr>		<td>
		<label for="updateUserid">修改人:</label>
	</td>
	<td>
		<input type="text" name="updateUserid" class="easyui-textbox" placeholder="修改人">
    </td>
				<td>
		<label for="status">状态:</label>
	</td>
	<td>
		<input type="text" name="status" class="easyui-textbox" placeholder="状态">
    </td>
				<td>
		<label for="isDeleted">是否删除:</label>
	</td>
	<td>
		<input type="text" name="isDeleted" class="easyui-textbox" placeholder="是否删除">
    </td>
	</tr>			</table>
	<div>
		<a href="#" onclick="searchFile()" class="easyui-linkbutton" data-options="iconCls:'icon-search'">搜索</a>
	</div>
	</form>
</div>
<div class="row">
	<div id="fileTableToolBar">
		<a href="#" onclick="showFileDialog()" class="easyui-linkbutton" data-options="iconCls:'icon-edit',plain:true">新增</a>
	</div>
	<table id="fileTable">
        <thead>
        <tr>
    		    			<th data-options="field:'id'">ID</th>
			    			<th data-options="field:'fileTypeId'">档案类型</th>
			    			<th data-options="field:'filename'">档案名称</th>
			    			<th data-options="field:'filedesc'">档案描述</th>
			    			<th data-options="field:'attachment'">附件 </th>
			    			<th data-options="field:'createTime',formatter:dateFormatter">创建时间</th>
			    			<th data-options="field:'updateTime',formatter:dateFormatter">修改时间</th>
			    			<th data-options="field:'createUserid'">创建人</th>
			    			<th data-options="field:'updateUserid'">修改人</th>
			    			<th data-options="field:'status'">状态</th>
			    			<th data-options="field:'isDeleted'">是否删除</th>
						<th data-options="field:'action',formatter:fileActionFormatter">操作</th>
        </tr>
        </thead>
    </table>
</div>
<div id="fileModal" class="easyui-dialog" title="My Dialog" style="width: 800px; height: 600px;"
	data-options="modal:true,buttons:'#fileDialogButtons',closed:true">
	<div class="dialog-body">
	<form id="fileForm" method="post">
		<table class="formtable">
						<tr>
            	<td>
            		<label for="id">ID:</label>
            	</td>
            	<td>
            		<input type="text" name="id" class="easyui-textbox"    editable="false"  />
                </td>
            </tr>
						<tr>
            	<td>
            		<label for="fileTypeId">档案类型:</label>
            	</td>
            	<td>
            		<input type="text" name="fileTypeId" class="easyui-numberbox"    />
                </td>
            </tr>
						<tr>
            	<td>
            		<label for="filename">档案名称:</label>
            	</td>
            	<td>
            		<input type="text" name="filename" class="easyui-textbox" data-options="validType:['length[0,100]']"    />
                </td>
            </tr>
						<tr>
            	<td>
            		<label for="filedesc">档案描述:</label>
            	</td>
            	<td>
            		<input type="text" name="filedesc" class="easyui-textbox" data-options="validType:['length[0,100]']"    />
                </td>
            </tr>
						<tr>
            	<td>
            		<label for="attachment">附件 :</label>
            	</td>
            	<td>
            		<input type="text" name="attachment" class="easyui-textbox" data-options="validType:['length[0,2147483647]']"    />
                </td>
            </tr>
						<tr>
            	<td>
            		<label for="createTime">创建时间:</label>
            	</td>
            	<td>
            		<input type="text" name="createTime" class="easyui-textbox"    editable="false"  />
                </td>
            </tr>
						<tr>
            	<td>
            		<label for="updateTime">修改时间:</label>
            	</td>
            	<td>
            		<input type="text" name="updateTime" class="easyui-textbox"    editable="false"  />
                </td>
            </tr>
						<tr>
            	<td>
            		<label for="createUserid">创建人:</label>
            	</td>
            	<td>
            		<input type="text" name="createUserid" class="easyui-textbox"    editable="false"  />
                </td>
            </tr>
						<tr>
            	<td>
            		<label for="updateUserid">修改人:</label>
            	</td>
            	<td>
            		<input type="text" name="updateUserid" class="easyui-textbox"    editable="false"  />
                </td>
            </tr>
						<tr>
            	<td>
            		<label for="status">状态:</label>
            	</td>
            	<td>
            		<input type="text" name="status" class="easyui-textbox"    editable="false"  />
                </td>
            </tr>
						<tr>
            	<td>
            		<label for="isDeleted">是否删除:</label>
            	</td>
            	<td>
            		<input type="text" name="isDeleted" class="easyui-textbox"    editable="false"  />
                </td>
            </tr>
			   		</table>
		<div id="fileDialogButtons">
			<a href="#" id="btnSaveFile" data-options="iconCls:'icon-save'" onclick="submitFileForm()" class="easyui-linkbutton">确认</a>  
			<a href="#" id="backbtn" onclick="closeFileDialog()" class="easyui-linkbutton" data-options="iconCls:'icon-cancel'">取消</a>
		</div>
	</form>
	</div>
</div>
<script>
	var FILE_API_BASE_URL = "${rc.contextPath}/file/";
	$(function() {
		$('#fileTable').datagrid({
			toolbar:'#fileTableToolBar',
			pagination : true,//显示分页  
			pageSize : 20,//分页大小 
			rownumbers : true, 
			pageList : [ 20, 50, 100 ],
			loader : fileTableLoader,
			onDblClickRow : showFileDialog
		});
	});

	function fileTableLoader(param, success, error) {
		
		var queryParams = $('#fileFormSearch').serializeJson();
		queryParams.pageIndex = param.page;
		queryParams.pageSize = param.rows;
		$.ajax({
			type : "post",
			url : FILE_API_BASE_URL + "query.html",
			data : queryParams,
			dataType : "json",
			success : function(res) {
				var result = {};
				result.total = res.total;
				result.rows =  res.records;
				success(result);
			},
			error : function() {
				error.apply(this, arguments);
			}
		});
	}


	function fileActionFormatter(value,row,index){
		return [
				"<a href='javascript:' onclick='editFile("+index+")' class=''>编辑</a>",
				"<span> </span>",
				"<a href='javascript:' onclick='deleteFile("+index+")' class=''>删除</a>"
				].join("");
	}
	
	function editFile(index) {
		var fileTable = $("#fileTable");
		var rows = fileTable.datagrid("getRows");
		var row = rows[index];
		showFileDialog(index,row);
	}
	
	function deleteFile(index) {
		$.messager.confirm('确认', '你确认删除？', function(r) {
			if (r) {
				var fileTable = $("#fileTable");
				var rows = fileTable.datagrid("getRows");
				var row = rows[index];
				$.post(FILE_API_BASE_URL + "delete.html", {
					id : row.id
				}, function(res) {
					if(res.status==10000){
						$.messager.alert("成功","删除成功","info");
						fileTable.datagrid("reload");
					}
					else{
						$.messager.alert("失败",res.message,"error");
					}
				});
			}
		});
	}
	
	function searchFile() {
		$('#fileTable').datagrid("getPager").pagination("select",1);
	}

	function showFileDialog(rowIndex, rowData) {
		var fileModal = $('#fileModal');
		var fileForm = $('#fileForm');
		if (rowData) {
			fileModal.dialog({
				title : "编辑应用"
			});
			fileForm.form('load', rowData);
		} else {
			fileModal.dialog({
				title : "新增应用"
			});
			fileForm.form('clear');
		}
		fileModal.dialog("open");
	}

	function closeFileDialog() {
		$('#fileModal').dialog("close");
	}

	function submitFileForm() {
		var fileModal = $('#fileModal');
		var fileTable = $("#fileTable");
		var fileForm = $('#fileForm');
		var isValid = fileForm.form('validate');
        if (!isValid) {
            $.messager.alert("验证失败", "请修正输入项再试", "warning");
            return;
        }
		
        var jsonData = fileForm.serializeJson();
        //数据处理和其他判断
        $.post(FILE_API_BASE_URL + "save.html", jsonData,
        function(res) {
            if (res.status == 10000) {
                var title = fileModal.dialog("options").title;
                fileTable.datagrid("reload");
                $.messager.alert("成功", title + "成功", "info");
				closeFileDialog();
            } else {
                $.messager.alert(title+"失败", res.message, "error");
            }
        });
	}
</script>

