<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<LINK rel="Bookmark" href="/favicon.ico" >
<LINK rel="Shortcut Icon" href="/favicon.ico" />
<!--[if lt IE 9]>
<script type="text/javascript" src="lib/html5.js"></script>
<script type="text/javascript" src="lib/respond.min.js"></script>
<script type="text/javascript" src="lib/PIE_IE678.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="${rc.contextPath}/static/login/Login.css" />

<script type="text/javascript" src="${rc.contextPath}/static/lib/jquery/1.9.1/jquery.min.js"></script> 
<script type="text/javascript" src="${rc.contextPath}/static/login/Login.js"></script>

<title>金融租赁管理系统</title>
<meta name="keywords" content="">
<meta name="description" content="">
</head>
<body style="padding:0px;">		
 	<img id="login_bg" src="${rc.contextPath}/static/login/images/login-bg.png" style="position: absolute; width: 0; height: 0; z-index: -9999;">

	<div id="login">
		<table class="table_login_area" cellpadding="0" cellspacing="0">
			<tr>
				<td>
					<div class="div_login_area">
						<div class="div_logo_icon"></div>
						<div class="div_login_text_area">
							<div class="div_logo_text"></div>
							<div class="div_login_input">
								<table class="table_login_input" cellpadding="0" cellspacing="0">
									<tr>
										<td class="td_login_input_icon">
											<div class="div_login_username"></div>
										</td>
										<td>
											<input class="wbs-login-input" type="text" field="用户名" id="wbs-login-username"/>
										</td>
									</tr>
								</table>
							</div>
							<div class="div_login_input">
								<table class="table_login_input" cellpadding="0" cellspacing="0">
									<tr>
										<td class="td_login_input_icon">
											<div class="div_login_password"></div>
										</td>
										<td>
											<input class="wbs-login-input" type="password" field="密码" id="wbs-login-password"/>
										</td>
									</tr>
								</table>
							</div>					
							<div class="div_login_title div_login_empty">
								&nbsp;
								<a id="wbs-login-empty"></a>
							</div>
							<img src="${rc.contextPath}/static/login/images/login.png" onmouseover="this.src='${rc.contextPath}/static/login/images/login_hover.png'" onmouseout="this.src='${rc.contextPath}/static/login/images/login.png'" id="wbs-login-btn">
						</div>
					</div>
				</td>
			</tr>
		</table>
	</div>
</body>

</html>
