<div class="row">
	<form id="fileRoleFormSearch">
	<table class="formtable">
		<tr>
		<td>
		<label for="id">ID:</label>
	</td>
	<td>
		<input type="text" name="id" class="easyui-textbox" placeholder="ID">
    </td>
				<td>
		<label for="fileId">档案:</label>
	</td>
	<td>
		<input type="text" name="fileId" class="easyui-textbox" placeholder="档案">
    </td>
				<td>
		<label for="roleid">角色:</label>
	</td>
	<td>
		<input type="text" name="roleid" class="easyui-textbox" placeholder="角色">
    </td>
				<td>
		<label for="createTime">创建时间:</label>
	</td>
	<td>
		<input type="text" name="createTime" class="easyui-datetimebox" placeholder="创建时间">
    </td>
	</tr>	<tr>		<td>
		<label for="updateTime">修改时间:</label>
	</td>
	<td>
		<input type="text" name="updateTime" class="easyui-datetimebox" placeholder="修改时间">
    </td>
				<td>
		<label for="createUserid">创建人:</label>
	</td>
	<td>
		<input type="text" name="createUserid" class="easyui-textbox" placeholder="创建人">
    </td>
				<td>
		<label for="updateUserid">修改人:</label>
	</td>
	<td>
		<input type="text" name="updateUserid" class="easyui-textbox" placeholder="修改人">
    </td>
				<td>
		<label for="status">状态:</label>
	</td>
	<td>
		<input type="text" name="status" class="easyui-textbox" placeholder="状态">
    </td>
	</tr>	<tr>		<td>
		<label for="isDeleted">是否删除:</label>
	</td>
	<td>
		<input type="text" name="isDeleted" class="easyui-textbox" placeholder="是否删除">
    </td>
	</tr>			</table>
	<div>
		<a href="#" onclick="searchFileRole()" class="easyui-linkbutton" data-options="iconCls:'icon-search'">搜索</a>
	</div>
	</form>
</div>
<div class="row">
	<div id="fileRoleTableToolBar">
		<a href="#" onclick="showFileRoleDialog()" class="easyui-linkbutton" data-options="iconCls:'icon-edit',plain:true">新增</a>
	</div>
	<table id="fileRoleTable">
        <thead>
        <tr>
    		    			<th data-options="field:'id'">ID</th>
			    			<th data-options="field:'fileId'">档案</th>
			    			<th data-options="field:'roleid'">角色</th>
			    			<th data-options="field:'createTime',formatter:dateFormatter">创建时间</th>
			    			<th data-options="field:'updateTime',formatter:dateFormatter">修改时间</th>
			    			<th data-options="field:'createUserid'">创建人</th>
			    			<th data-options="field:'updateUserid'">修改人</th>
			    			<th data-options="field:'status'">状态</th>
			    			<th data-options="field:'isDeleted'">是否删除</th>
						<th data-options="field:'action',formatter:fileRoleActionFormatter">操作</th>
        </tr>
        </thead>
    </table>
</div>
<div id="fileRoleModal" class="easyui-dialog" title="My Dialog" style="width: 800px; height: 600px;"
	data-options="modal:true,buttons:'#fileRoleDialogButtons',closed:true">
	<div class="dialog-body">
	<form id="fileRoleForm" method="post">
		<table class="formtable">
						<tr>
            	<td>
            		<label for="id">ID:</label>
            	</td>
            	<td>
            		<input type="text" name="id" class="easyui-textbox"    editable="false"  />
                </td>
            </tr>
						<tr>
            	<td>
            		<label for="fileId">档案:</label>
            	</td>
            	<td>
            		<input type="text" name="fileId" class="easyui-numberbox"    />
                </td>
            </tr>
						<tr>
            	<td>
            		<label for="roleid">角色:</label>
            	</td>
            	<td>
            		<input type="text" name="roleid" class="easyui-numberbox"    />
                </td>
            </tr>
						<tr>
            	<td>
            		<label for="createTime">创建时间:</label>
            	</td>
            	<td>
            		<input type="text" name="createTime" class="easyui-textbox"    editable="false"  />
                </td>
            </tr>
						<tr>
            	<td>
            		<label for="updateTime">修改时间:</label>
            	</td>
            	<td>
            		<input type="text" name="updateTime" class="easyui-textbox"    editable="false"  />
                </td>
            </tr>
						<tr>
            	<td>
            		<label for="createUserid">创建人:</label>
            	</td>
            	<td>
            		<input type="text" name="createUserid" class="easyui-textbox"    editable="false"  />
                </td>
            </tr>
						<tr>
            	<td>
            		<label for="updateUserid">修改人:</label>
            	</td>
            	<td>
            		<input type="text" name="updateUserid" class="easyui-textbox"    editable="false"  />
                </td>
            </tr>
						<tr>
            	<td>
            		<label for="status">状态:</label>
            	</td>
            	<td>
            		<input type="text" name="status" class="easyui-textbox"    editable="false"  />
                </td>
            </tr>
						<tr>
            	<td>
            		<label for="isDeleted">是否删除:</label>
            	</td>
            	<td>
            		<input type="text" name="isDeleted" class="easyui-textbox"    editable="false"  />
                </td>
            </tr>
			   		</table>
		<div id="fileRoleDialogButtons">
			<a href="#" id="btnSaveFileRole" data-options="iconCls:'icon-save'" onclick="submitFileRoleForm()" class="easyui-linkbutton">确认</a>  
			<a href="#" id="backbtn" onclick="closeFileRoleDialog()" class="easyui-linkbutton" data-options="iconCls:'icon-cancel'">取消</a>
		</div>
	</form>
	</div>
</div>
<script>
	var FILEROLE_API_BASE_URL = "${rc.contextPath}/fileRole/";
	$(function() {
		$('#fileRoleTable').datagrid({
			toolbar:'#fileRoleTableToolBar',
			pagination : true,//显示分页  
			pageSize : 20,//分页大小 
			rownumbers : true, 
			pageList : [ 20, 50, 100 ],
			loader : fileRoleTableLoader,
			onDblClickRow : showFileRoleDialog
		});
	});

	function fileRoleTableLoader(param, success, error) {
		
		var queryParams = $('#fileRoleFormSearch').serializeJson();
		queryParams.pageIndex = param.page;
		queryParams.pageSize = param.rows;
		$.ajax({
			type : "post",
			url : FILEROLE_API_BASE_URL + "query.html",
			data : queryParams,
			dataType : "json",
			success : function(res) {
				var result = {};
				result.total = res.total;
				result.rows =  res.records;
				success(result);
			},
			error : function() {
				error.apply(this, arguments);
			}
		});
	}


	function fileRoleActionFormatter(value,row,index){
		return [
				"<a href='javascript:' onclick='editFileRole("+index+")' class=''>编辑</a>",
				"<span> </span>",
				"<a href='javascript:' onclick='deleteFileRole("+index+")' class=''>删除</a>"
				].join("");
	}
	
	function editFileRole(index) {
		var fileRoleTable = $("#fileRoleTable");
		var rows = fileRoleTable.datagrid("getRows");
		var row = rows[index];
		showFileRoleDialog(index,row);
	}
	
	function deleteFileRole(index) {
		$.messager.confirm('确认', '你确认删除？', function(r) {
			if (r) {
				var fileRoleTable = $("#fileRoleTable");
				var rows = fileRoleTable.datagrid("getRows");
				var row = rows[index];
				$.post(FILEROLE_API_BASE_URL + "delete.html", {
					id : row.id
				}, function(res) {
					if(res.status==10000){
						$.messager.alert("成功","删除成功","info");
						fileRoleTable.datagrid("reload");
					}
					else{
						$.messager.alert("失败",res.message,"error");
					}
				});
			}
		});
	}
	
	function searchFileRole() {
		$('#fileRoleTable').datagrid("getPager").pagination("select",1);
	}

	function showFileRoleDialog(rowIndex, rowData) {
		var fileRoleModal = $('#fileRoleModal');
		var fileRoleForm = $('#fileRoleForm');
		if (rowData) {
			fileRoleModal.dialog({
				title : "编辑应用"
			});
			fileRoleForm.form('load', rowData);
		} else {
			fileRoleModal.dialog({
				title : "新增应用"
			});
			fileRoleForm.form('clear');
		}
		fileRoleModal.dialog("open");
	}

	function closeFileRoleDialog() {
		$('#fileRoleModal').dialog("close");
	}

	function submitFileRoleForm() {
		var fileRoleModal = $('#fileRoleModal');
		var fileRoleTable = $("#fileRoleTable");
		var fileRoleForm = $('#fileRoleForm');
		var isValid = fileRoleForm.form('validate');
        if (!isValid) {
            $.messager.alert("验证失败", "请修正输入项再试", "warning");
            return;
        }
		
        var jsonData = fileRoleForm.serializeJson();
        //数据处理和其他判断
        $.post(FILEROLE_API_BASE_URL + "save.html", jsonData,
        function(res) {
            if (res.status == 10000) {
                var title = fileRoleModal.dialog("options").title;
                fileRoleTable.datagrid("reload");
                $.messager.alert("成功", title + "成功", "info");
				closeFileRoleDialog();
            } else {
                $.messager.alert(title+"失败", res.message, "error");
            }
        });
	}
</script>

